1. What are data structures and why they are important?
>> Data structures are special format for storing , organising and acessing data.
>> They are important because it optimises searchung and storing operations,conserve memory use,we can use them directly as they are predefined.

2. Explain the difference between mutable and immutable datatypes with examples.
>>  In python some objects are changeable (mutable) and some are non changeable(immutable) .for example string is immutable but list are mutable .

In [5]:
list1=["apple","mango","banana"]
list1.append("grapes")
list1

['apple', 'mango', 'banana', 'grapes']



string1="My name is SHREYA SAHA"
string1

3. What are the main difference between list and tuple.
>> The main difference between list and tuple is that list is mutable we can modify after creation it but tuples are immutable in nature , once created cannot be modified.

4. Describe how dictionary store data.
>> Dictionary store data in form of key and value pairs and these key and values can be of different data types. Dictionarys store data in unordered form and these are mutable .

5.why might you use a set instead of list in python?
>>  set are unordered collection of unique elements duplicate entries are not allowed , we can use them for checking membership but in a list duplicate elements are also present so we can use sets when it comes to have unique value.

6.what is a string in python and how it is different from list?
>> Strings are  characters that are placed in unchangeable manner. It is immutable so  Indexing can be done. it is different from list because list are mutable and it is immutable.

7.How tuple ensure data integrity in python?
>>Tuples being immutable and ordered in nature ensures data integrity in python

8.What is the hash table and how does it relate to dictionarIes in python?

.>>A hash table is a data structure that stores key-value pairs and uses a hash function to find keys to their corresponding values. In Python, dictionaries are implemented using hash tables.

  9.Can list contain different data types in python?
>>Yes list can contain different data types in python. A list can contain string,integer, float, Boolean values altogether.

10.Explain why strings are immutable in python?
>>String is immutable because it contain  sequence of characters, and this sequence cannot be changed.

11.What advantages do dictionary offers over list for certain task?
>>Advantage dictionary offers over list is that we can find data easily and quickly by key values pairs where in list we need to see the whole list to search .

12.Describe a scenario where using a tuple would be preferable over a list.
>>Museum exhibits artifacts in a fixed display case.These artifacts are fixed and cannot be rearranged or removed ensuring there preservation but as list are mutable it cannot be used to preserve as someone could remove or rearrange it.

13.How sets handle duplicate values in python?
>>Sets are unordered collection of unique elements and so duplicate elements are not allowed in set.

14.How does in keyword works differently for list and dictionary?
In dictionary in is used to check the membership wether the key or vakue is present or not.

15.Can you modify the elements in a tuple? Explain why or why not.
>>No we cannot modify elements in a tuple  once created because it is immutable.

In [66]:
16#.what is nested dictionary and give an example of its use case
nested_dict = {
    "person1": {
        "name": "shreya",
        "age": 25,
        
    },
    "person2": {
        "name": "vinay",
        "age": 26,
        
    }
}
print(nested_dict["person1"]["name"])

shreya

17.Describe the time complexity of assessing elements in a dictionary.
>>The time complexity of acessing elements in a dictionary is constant as because it is very easy to find the key value pairs in it as it use hash table.


18.In what situation a list is preferred over dictionary .
>>List is preferred over dictionary when we need ordered collection of data and when we want them to modify them according to our need as it also contain duplicate values.

19.Why are dictionaries is considered an unordered and how does the effect data retrieval ?
>>In dictionary element or not stored in specific order . Data retrieval is very easy because dictionary uses hash table and quickly available because of key value pairs.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
>>In list data is stored in a ordered manner so to check any data we need to go through the whole list as repetition can be there but as dictionary uses hash table and  to check any data in that dictionary we can either use the key or value from the pair.

In [29]:
#                        PRACTICAL QUESTIONS

In [ ]:
#1.Write a CODE to create a string with your name and print it.

In [33]:
string1=("My name is Shreya Saha")
print(string1)

My name is Shreya Saha

In [ ]:
#2.Write a code to find the length of string "hello world"

In [35]:
word="hello world"
len(word)

11

In [ ]:
#3.Write a code to slice the first three characters from the string python programming.

In [37]:
string1="helicopter"
string1[:3]

'hel'

In [ ]:
#4.Write a code to convert the string hello to uppercase

In [45]:
word="hello"
print(word.upper())

HELLO

In [ ]:
#5. write a code to replace the word 'apple' with 'arrange' in the string 'I like apple'.

In [51]:
text = "I like apples"
new_text = text.replace("apples", "arrange")
print(new_text)

I like arrange

In [ ]:
#6.write a code to create a list with number 1to 5 and print it.

In [57]:
list=[1,2,3,4,5]
print (list)

[1, 2, 3, 4, 5]

In [ ]:
#7.write a code tp append the number 10 to the list [1,2,3,4]

In [65]:
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [67]:
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
#9.write the code to acess the second element in list['a','b','c','d']

In [70]:
list2=['a','b','c','d']
list2[1]

'b'

In [ ]:
#10. write a code to reverse the list.[10,20,30,40,50]

In [86]:
list3=[10,20,30,40,50]
list3.sort(reverse=True)
print(list3)

[50, 40, 30, 20, 10]

In [ ]:
#11. write a code to ceate atuple with elements 100, 200, 300 and print it

In [90]:
t1=(100,200,300)
print(t1)

(100, 200, 300)

In [94]:
type(t1)

tuple

In [ ]:
#12. write a code to acess the second to last element in a tuple ("red","green","blue","yellow")

In [8]:
colour=("red","green","blue","yellow") 
colour[-2]

'blue'

In [ ]:
#13. write a code to find minimum number in tuple(10,20,5,15).

In [10]:
t1= (10,20,5,15)
min(t1)

5

In [ ]:
#14. write a code to find the index of element 'cat' in a tuple("dog","cat","rabbit").

In [22]:
animals=("dog","cat","rabbit")
animals[1]

'cat'

In [ ]:
#15. write a code to create a tuple containig three different fruits and check if 'kiwi' is in it.

In [35]:
fruits=("apple","mango","kiwi")
if "kiwi" in fruits:
    print("kiwi is present")
else:
    print("kiwi is not present")

kiwi is present

In [ ]:
#16.write a code to create a set with element a,b,c and print it.

In [37]:
set1={"a","b","c"} 
print(set1)

{'a', 'c', 'b'}

In [ ]:
#17.rite a code to clear all the element from set{1,2,3,4,5}

In [41]:
set2={1,2,3,4,5}
set2.clear()

In [44]:
set2

set()

In [ ]:
#18.write a code to remove the element 4 from the set{1,2,3,4}

In [59]:
set1={1,2,3,4}
set1.remove(4)
set1

{1, 2, 3}

In [ ]:
#19. write a code to find the union of 2 set {1,2,3} and {3,4,5}

In [63]:
s1={1,2,3}
s2={3,4,5}
s1| s2

{1, 2, 3, 4, 5}

In [ ]:
#20.write a code to find the intersection of 2 set{1,2,3}and {2,3,4}

In [65]:
s1={1,2,3}
s2={2,3,4}
s1 & s2

{2, 3}

In [ ]:
#21. write a code to create a dictionary with the keys "name","age",and"city" and print it

In [78]:
d={"name":"shreya","age":"25","city":"kishanganj"}
print(d)

{'name': 'shreya', 'age': '25', 'city': 'kishanganj'}

In [ ]:
#22. write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"john","age":25}.

In [80]:
d={"name":"john","age":25}
d1={"country":"USA"}
d.update(d1)
d

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23. write a code to acess the value associated with  key name in dictionary c{"name":"Alice","age":30}

In [1]:
detail={"name":"Alice","age":30}
detail["name"]

'Alice'

In [ ]:
#24. write a code to remove key age from dictionary{"name":"Bob","age":22,"city":"New york"}.

In [9]:
detail={"name":"Bob","age":22,"city":"New york"}
del detail["age"]
print (detail)

{'name': 'Bob', 'city': 'New york'}

In [ ]:
#25.write a code to check if the key "city" exists in the dictionary {"name":"Alice","city":"paris"}.

In [17]:
d={"name":"Alice","city":"paris"}
d.keys()

dict_keys(['name', 'city'])

In [ ]:
#26.write a code to create a list, a tuple and dictionary and print them all.

In [31]:
#dictionary
detail1={"name":"Bob","age":22,"city":"New york"}
list1=["apple","mango","banana"]
t1=("phone","camera","laptop")
print(detail1 )
print(list1)
print(t1)

{'name': 'Bob', 'age': 22, 'city': 'New york'}
['apple', 'mango', 'banana']
('phone', 'camera', 'laptop')

In [ ]:
#27. write a code to create a list of 5 random numbers from 1 to 100 ,sort it in assending order and print the result.

In [35]:
list1=[35,42,28,4,66]
list1.sort()
list1

[4, 28, 35, 42, 66]

In [ ]:
#28.write a code to create a list with strings and print the element at third index.

In [48]:
l=["apple","mango","banana","grapes","guava"]
l[3]

'grapes'

In [ ]:
#29.write a code to combine two dictionary into one and print the result.

In [57]:
student1={"name":"shreya","stream":"science"}
details={"age":25,"blood group":"AB+ve"} 
student1.update(details)
print(student1)

{'name': 'shreya', 'stream': 'science', 'age': 25, 'blood group': 'AB+ve'}

In [ ]:
#30.write a code to convert a list of strings into a set  .

In [61]:
s_l=["apple","mango","banana","grapes","guava"]
s_s=set(s_l)
print(s_s)

{'apple', 'grapes', 'mango', 'guava', 'banana'}